


<h1>Listar Obras</h1>


<div class="container ">

<table class="table   table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">ver Orbras</th>
        <th scope="col">Agregar Faborito</th>
    
      </tr>
    </thead>
    <tbody *ngFor="let list of listaObras;let i = index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{list.title}}</td>
        <td>
        <button type="button" class="btn btn-primary" routerLink="/navab/autores/framento/{{list.title}}">Selecionar</button>
      </td>
        <td>
        <button type="button" class="btn btn-dark" (click)="Guardar(list.title)">Agregar</button>
      </td>
    </tr>

     
    </tbody>
  </table>

</div>