


<h1>Listar Obras</h1>


<div class="container ">

<table class="table   table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">ver Orbras</th>
    
      </tr>
    </thead>
    <tbody *ngFor="let list of listaObras;let i = index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{list.title}}</td>
       
        <button type="button" class="btn btn-primary" routerLink="/navab/autores/framento/{{list.title}}">Selecionar</button>


        <!-- <button type="button" class="btn btn-danger" routerLink="/producto/editarfro/{{list.id}}" >editar Reactivo</button>
        -->
    </tr>

     
    </tbody>
  </table>

</div>