

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <br>
      <br>
    
    <h1 class="text-primary"> Login</h1>
    <br>

   
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="nombre" placeholder="login"
    
        
        >
        <!-- [(ngModel)]="usuario.usuario" -->
        <input type="text" id="password" class="fadeIn third" name="s"[(ngModel)]="contrasena" placeholder="password"
       
        >
        <!-- [(ngModel)]="usuario.email" -->
        <input type="button"  (click)="login()" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->
  
      <div id="formFooter">
        <input type="button"  (click)="sin_login()" value="Sin Logiar">
      </div>
  
    </div>
  </div>
